body {
    background-image: url("/img/background-mine.jpg");
    background-position: center;
    background-size: auto ;
    background-repeat: no-repeat;

    color: #DDDDDD;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
  }
  
  h1 {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
  }

  select {
    display: inline;
    font-family:'Courier New', Courier, monospace;
    background-color: #4f4e81;
    color: #DDDDDD;
    font-size: 15px;
    font-weight: bold;
    


  }

  button {
     margin: 12px;
     font-size: 22px;
     background-color: lightblue;

     color: #FFFFFF;
background: #232323;
text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
     
  }

  table{
    margin: 0 auto;
    /* disable text selection so the user can't see what is hidden behind the td's */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;


    border-collapse: separate;
    border-spacing: 1px

  }
 
  
  .board {
    margin-left: auto;
    margin-right: auto;
  }
  
  .board td{
   
    border:2px solid rgb(185, 184, 233);
    background: #4f4e81;
    width: 22px;
    height: 22px;
    text-align: center;
    color: transparent;
    cursor: pointer;
    object-fit: cover;

   
  }
  .board td:hover{
    background-color:#625db6 ;
   
  }
  
  .board td.clicked {
      transition: 0.3s;
      background: #333333;
      color: currentColor ;
  }
  
  .board td.mine {
      background: #FF0000;
      color: currentColor ;
  }

  .board td.marked{
    transition: 0.5s;
    background-color: rgb(21, 114, 114);
    color: currentColor ;


  }
  

  .timer {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 200px;
    height: 80px;
    background-color: rgb(79, 212, 157);
    margin: 15px auto;
    color: rgb(20, 110, 73);
    border-radius: 30%;
    text-align: center;
    line-height: 40px;
    font-size: 25px;
    font-weight: bold;
    box-shadow: 5px 5px 10px #625db6;
    visibility: hidden;


    /* made with css generator */
    color: #FFFFFF;
    background: #232323;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
}


